{
  "URL":"http://localhost:8551",
  "sender":{
    "address":"address",
    "privateKey":"private key"
  },
  "feePayer":{
    "address":"address",
    "privateKey":"private key"
  },
  "accounts":{
    "acc1":{
      "address":"address",
      "privateKey":"private key"
    },
    "acc2":{
      "address":"address",
      "privateKey":"private key"
    }
  }
}
